<div class="container message">
  <div class="recipient-name">
  <% if current_user.is_caterer %>
    <h1 class="text-center"><%= @conversation.customer.name %></h1>
  <% else %>
    <h1 class="text-center"><%= @caterer.name %></h1>
  <% end %>
  </div>
  <div class="container message-content">
    <div>
      <% @messages.each do |message| %>
        <% if message.content %>
        <%# find the user id %>
        <% user = User.find(message.user_id) %>
          <table>
            <tr class="table-font">
              <th>
              <% if user.is_caterer %>
                <%= @caterer_name %> <%= message.message_time %>
              <% else %>
                <%= user.name %> <%= message.message_time %>
              <% end %>
              </th>
            </tr>
            <tr>
              <%# added styling in views to distinguish different users as could not embed ruby in scss %>
              <% if current_user.id == message.user_id %>                
                <td class="speech-bubble text-right" style="background-color:#00aabb">
                <%= message.content %>
              <% else %>
                <td class="speech-bubble" style="background-color:#c0c0c0">
                <%= message.content %>
              </td>
              <% end %>                  
            </tr>
          </table>
        <% end %>
      <% end %>
    </div>


    <div>
      <%= bootstrap_form_with(model: [@conversation, @message], local: true) do |form| %>
        <div class="field">
          <%= form.text_area :content %>
          <%= form.hidden_field :user_id, value: current_user.id %>
        </div>
        <div class="actions">
          <%= form.submit "Send Message"%>
        </div>
      <% end %>
    </div>
  </div>
</div>
