<%= bootstrap_form_with(model: caterer_menu, local: true) do |form| %>
  <% if caterer_menu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(caterer_menu.errors.count, "error") %> prohibited this caterer_menu from being saved:</h2>

      <ul>
      <% caterer_menu.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_area :description, autofocus: true, label: "Set Menu Description", placeholder: 'e.g. Entree:
    Smoked salmon
    OR
    Crackling Pork
    ....' %>
  </div>

  <div class="field">
    <%= form.text_field :price, prepend: '$', label: "Price per Head", placeholder: 'eg. 89.99', :value => (number_with_precision(form.object.price, :precision => 2)) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
