<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @caterer_menu.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @caterer_menu.price %>
</p>

<%= link_to 'Edit', edit_caterer_menu_path(@caterer_menu) %> |
<%= link_to 'Back', caterer_menus_path %>
