<%= bootstrap_form_tag url: '/book' do |form| %>
  <div class="field">
    <%= form.text_field :first_name, value: current_user.first_name %>
  </div>

  <div class="field">
    <%= form.text_field :last_name, value: current_user.last_name %>
  </div>

  <div class="field">
    <%= form.text_field :email, label: "Contact Email", value: current_user.email %>
  </div>

  <div class="field">
    <%= form.telephone_field :number, label: "Contact Number" %>
  </div>

  <div class="field">
    <%= form.date_field :date %>
  </div>

  <div class="field">
    <%= form.time_field :time %>
  </div>

  <div class="field">
  <!-- Set up a range between 20 - 200 or there abouts ... somehting to do with in: 20..200 -->
    <%= form.number_field :number_of_heads, label: "Number of people"  %>
  </div>

  <div class="actions">
    <%= form.submit "Make Booking" %>
  </div>
<% end %>