<%= bootstrap_form_with(model: history, local: true) do |form| %>
  <div>
    <%= @caterer_name %>
  </div>

  <div>
    <%= @menu %>
  </div>

  <div>
    <%= @cost %>
  </div>

  <div class="field">
    <%= form.text_field :first_name, value: current_user.first_name %>
  </div>

  <div class="field">
    <%= form.text_field :email, label: "Contact Email", value: current_user.email %>
  </div>

  <div class="field">
    <%= form.date_field :booking_date, autofocus: true %>
  </div>

  <div class="field"> 
    <%= form.number_field :number_of_heads, label: "Number of people", placeholder: "Number between 20 and 200", in: 20..200  %>
  </div>

  <!-- passing caterer_menu.id through -->
  <%= form.hidden_field :caterer_menu_id, value: @caterer_menu_id  %>

  <div class="actions">
    <%= form.submit "Make Booking" %>
  </div>
  
<% end %>

