<%= bootstrap_form_with(model: history, local: true) do |form| %>
  <% if history.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(history.errors.count, "error") %> prohibited this history from being saved:</h2>

      <ul>
      <% history.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= @caterer_name %>
  </div>

  <div>
    <%= @menu %>
  </div>

  <div>
    <%= @cost %>
  </div>

  <div class="field">
    <%= form.text_field :first_name, value: current_user.first_name %>
  </div>

  <div class="field">
    <%= form.text_field :email, label: "Contact Email", value: current_user.email %>
  </div>

  <div class="field">
    <%= form.telephone_field :number, label: "Contact Number" %>
  </div>

  <div class="field">
    <%= form.date_field :booking_date %>
  </div>

  <div class="field">
  <!-- Set up a range between 20 - 200 or there abouts ... somehting to do with in: 20..200 -->
    <%= form.number_field :number_of_heads, label: "Number of people"  %>
  </div>

  <!-- passing caterer_menu.id through -->
  <% form.hidden_field :caterer, value: params[:menu]  %>
  <% form.hidden_field :pph, value: @cost  %>

  <div class="actions">
    <%= form.submit "Make Booking" %>
  </div>
  
<% end %>

