<!-- Can be deleted if not used, trying to make each row clickable to take them to a show page to see more info -->
<script>
  $("tr").click(function() {
    window.location = $(this).data("link")
  })
</script>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Date</th>
      <% if current_user.is_caterer %>
        <th>Customer</th>
      <% else %>
        <th>Caterer</th>
      <% end %>
      <th>Number of People</th>
      <th>Total Price</th>
      <th>Review</th>
    </tr>
  </thead>
  <tbody>
    <%= @histories.each do |history| %>
    <tr data-link="<%= history_path(history.id) %>">
        <td><%= history[:booking_date] %></td>
        <% if current_user.is_caterer %>
          <td><%= history[:first_name] %></td>
        <% else %>
          <td><%= history[:caterer_name] %></td>
        <% end %>
        <td><%= history[:number_of_heads] %></td>
        <td>$<%= number_with_precision(history[:price], :precision => 2) %></td>
        <td>REVIEWS???</td>
    </tr>
    <% end %>
  </tbody>
</table>