<div class="m-5">
  <% if @no_history %>
    <p class="text-center">No Bookings to show :(
      <% if !@is_caterer %> 
        Why not create some <%= link_to 'here.', event_types_path %></p>
      <% end %>
  <% else %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Date</th>
          <th>
            <% if current_user.is_caterer %>
              Customer
            <% else %>
              Caterer
            <% end %>
          </th>
          <th>Number of People</th>
          <th>Total Price</th>
          <th>Review</th>
        </tr>
      </thead>
      <tbody>
        <% @histories.each do |history| %>
          <tr>
            <td><%= history[:booking_date] %></td>
            <td class="table-link">
              <% if @is_caterer %>
                <%= history[:first_name] %>
              <% else %>
                <%= link_to history[:caterer_name], history_path(id: history[:id]), class: "btn btn-outline-dark btn-sm back-button" %>
              <% end %>
            </td>
            <% if history[:has_paid] == false && !@is_caterer %>
              <td>Have not completed Payment!</td>
              <td>Click <%= link_to 'here', confirm_booking_path(history[:id]), class: "btn btn-outline-dark btn-sm back-button" %> to pay</td>
              <td>Record will delete in...</td>
            <% else %>
              <td><%= history[:number_of_heads] %></td>
              <td>$<%= number_with_precision(history[:price], :precision => 2) %></td>
              <% if @review.find_by(history_id: history[:id]) %>
                <td>
                  <% @review.find_by(history_id: history[:id])[:rating].times do %> 
                    <%= link_to review_path(id: Review.find_by(history_id: history.id)) do%>
                      <% octicon "star" %>
                    <% end %>
                  <% end %>
                </td>
              <% elsif history[:booking_date] < @date %>
                <td><%= link_to 'Add Review', new_review_path(:history_id => history[:id]), class: "btn btn-outline-dark btn-sm back-button" %></td>
              <% else %>
                <td> Event has not Occured</td>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>