<div class="text-center">
<h1>Concerts</h1>
</div>

<% @concert.each do |concert| %>
    <p>
        <%= image_tag concert.image_url %>
    </p>
    <p>
        <strong>Name:</strong>
        <%= concert.business_name %>
    </p>
    <p>
        <strong>Address:</strong>
        <%= concert.address %>
    </p>
    <p>
        <strong>About:</strong>
        <%= concert.about %>
    </p>
    <p>
        <%= link_to 'profile', caterer_information_path(concert.user_id) %>
    </p>

<% end %>

<%= link_to 'Back', event_types_path %>