<div class="text-center">
    <h1>Conference</h1>
</div>

<div class="container card-event p-2">
    <% @conference.each do |conference| %>
        <div class="card">
            <img class="card-img-top" src=<%= conference.image_url %> alt="Card image cap">
            <div class="card-body"> 
                <h5 class="card-title"><%= conference.business_name %></h5>
                <p class="card-text"><%= conference.address %></p>
                <p class="card-text"><%= conference.about %></p>
                <%= link_to 'More Information', caterer_information_path(conference.user_id), class: "btn btn-outline-dark btn-sm" %>
            </div>
        </div>
    <% end %>
</div>
    
<div class="back-button">
    <%= link_to 'Back', event_types_path, class: "btn btn-outline-dark btn-sm back-button" %>
</div>