<div class="text-center">
<h1>Event Type</h1>
</div>

<div class="jumbotron vertical-right">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <%= image_tag('bride.png', height: '200', width: '200') %>
                <h1><%= link_to 'Weddings', event_types_weddings_path %></h1>
            </div>
            <div class="col-sm">
                <%= image_tag('cake.png', height: '200', width: '200') %>
                <h1><%= link_to 'Parties', event_types_parties_path %></h1>
            </div>
            <div class="col-sm">
                <%= image_tag('cocktail.png', height: '200', width: '200') %>
                <h1><%= link_to 'Cocktails', event_types_cocktails_path %></h1>
            </div>
        </div>
    </div>
</div>

<div class="container">
        <div class="row">
            <div class="col-sm">
                <%= image_tag('concert.png', height: '200', width: '200') %>
                <h1><%= link_to 'Concerts', event_types_concerts_path %></h1>
            </div>
            <div class="col-sm">
                <%= image_tag('presentation.png', height: '200', width: '200') %>
                <h1><%= link_to 'Conferences', event_types_conferences_path %></h1>
            </div>
            <div class="col-sm">
                <%= image_tag('shoes.png', height: '200', width: '200') %>
                <h1><%= link_to 'Formal', event_types_formal_path %></h1>
            </div>
        </div>
    </div>