<div class="container-fluid event">
<h1>Event Type</h1>

    <div class="event-grid">
        <div class="event-type">
            <%= image_tag "bride.png", class: "event-icon" %>
            <h1><%= link_to 'Weddings', event_types_weddings_path, class: "link-to-text-color" %></h1>
        </div>
        <div class="event-type">
            <%= image_tag "cake.png", class: "event-icon" %>
            <h1><%= link_to 'Parties', event_types_parties_path, class: "link-to-text-color" %></h1>
        </div>
        <div class="event-type">
            <%= image_tag "cocktail.png", class: "event-icon" %>
            <h1><%= link_to 'Cocktails', event_types_cocktails_path, class: "link-to-text-color" %></h1>
        </div>
        <div class="event-type">
            <%= image_tag "concert.png", class: "event-icon" %>
            <h1><%= link_to 'Concerts', event_types_concerts_path, class: "link-to-text-color" %></h1>
        </div>
        <div class="event-type">
            <%= image_tag "presentation.png", class: "event-icon" %>
            <h1><%= link_to 'Conferences', event_types_conferences_path, class: "link-to-text-color" %></h1>
        </div>
        <div class="event-type">
            <%= image_tag "shoes.png", class: "event-icon" %>
            <h1><%= link_to 'Formal', event_types_formal_path, class: "link-to-text-color" %></h1>
        </div>
    </div>
<div>