<div class="text-center">
<h1>Parties</h1>
</div>

<% @party.each do |party| %>
    <p>
        <%= image_tag party.image_url %>
    </p>
    <p>
        <strong>Name:</strong>
        <%= party.business_name %>
    </p>
    <p>
        <strong>Address:</strong>
        <%= party.address %>
    </p>
    <p>
        <strong>About:</strong>
        <%= party.about %>
    </p>

    <p>
        <%= link_to 'profile', caterer_information_path(party.user_id) %>
    </p>

<% end %>

<%= link_to 'Back', event_types_path %>



