<%= bootstrap_form_with(model: review, local: true) do |form| %>
  <% if review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


 
  <div class="col-md-4 col-md-offset-4">
    <%= form.number_field :rating %>
  </div>

  <div class="col-md-4 col-md-offset-4">
    <%= form.text_area :content %>
  </div>

  <div class="col-md-4 col-md-offset-4">
    <%= form.text_field :user_id %>
  </div>

  <div class="col-md-4 col-md-offset-4">
    <%= form.submit %>
  </div>

<% end %>
