<%= bootstrap_form_with(model: review, local: true) do |form| %>
  <div class="col-md-4 col-md-offset-4">
    <%= form.hidden_field :history_id, value: @history_id %>
  </div>

  <div class="col-md-4 col-md-offset-4">
    <%= form.number_field :rating, placeholder: "Rating between 1 - 5", in: 1..5 %>
  </div>

  <div class="col-md-4 col-md-offset-4">
    <%= form.text_area :content, placeholder: "Please add your review (max 500 characters)" %>
  </div>

  <div class="col-md-4 col-md-offset-4">
    <%= form.submit %>
  </div>
<% end %>
