
<%= bootstrap_form_with(model: caterer_information, local: true) do |form| %>
  <% if caterer_information.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(caterer_information.errors.count, "error") %> prohibited this caterer_information from being saved:</h2>

      <ul>
      <% caterer_information.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.text_area :number %>
  </div>

  <div class="field">
    <%= form.text_area :address %>
  </div>

  <div class="field">
    <%= form.file_field :image %>
  </div>

  <div class="field">
    <%= form.text_area :about %>
  </div>

  <div class="field">
    <%= form.select(:type_of_event, CatererInformation.type_of_events.keys)
%> 
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>