<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @caterer_information.business_name %>
</p>

<p>
  <strong>Number:</strong>
  <%= @caterer_information.number %>
</p>

<p>
  <strong>Address:</strong>
  <%= @caterer_information.address %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @caterer_information.image_url %>
</p>

<p>
  <strong>About:</strong>
  <%= @caterer_information.about %>
</p>

<p>
  <% @caterer_menu.each do |menu| %>
    <div>
      <h5>Package <%= @i %></h5>
      <p><%= menu.description %></p>
      <h6>Price Per Head</h6>
      <p>$<%= number_with_precision(menu.price, :precision => 2) %></p>
      <% unless current_user.is_caterer? %>
        <%= link_to 'Book', new_history_path(menu: menu.id) %>
      <% end %>
    </div>
    <% @i += 1 %>
  <% end %>
</p>

<p>
  <%= link_to 'Enquire', conversations_path(customer_id: current_user.id, caterer_id: @caterer_information.user_id), method: :post %>
</p>


<%= link_to 'Edit', edit_caterer_information_path(@caterer_information) %> |
<%= link_to 'Back', :back %>


