<footer>
  <div>
    <h2>More Information</h2>
    <div class="footer-box">
      <div>About</div>
      <div>Caterers</div>
      <div class="social-icon">
        <%= image_tag "google-plus.png", class: "icon" %>
        <%= image_tag "facebook.png", class: "icon" %>
        <%= image_tag "linkedin.png", class: "icon" %>
        <%= image_tag "instagram.png", class: "icon" %>
        <%= image_tag "twitter.png", class: "icon" %>
      </div>
    </div>
  </div>
</footer>