<footer>
  <div class="footer-box">
    <h2>Keep in Touch</h2>
    <div class="social-icon">
      <%= image_tag "google-plus.png", class: "icon" %>
      <%= image_tag "facebook.png", class: "icon" %>
      <%= image_tag "linkedin.png", class: "icon" %>
      <%= image_tag "instagram.png", class: "icon" %>
      <%= image_tag "twitter.png", class: "icon" %>
    </div>
  </div>
</footer>