  <nav class="navbar sticky-top navbar-expand-lg navbar-dark">
   <span id="notice"><%= notice %></span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse mx-auto" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mt-2 mt-lg-0 text-center">
        <li class="navbar-brand" >
          <%= link_to image_tag("cutlery.png") + "CaterLog", root_path, class: "link-to-text-brand" %>
         </li>
        <li class="nav-item">
          <div class="nav-link" >
          <%= link_to "About", about_path, class: "link-to-text-color" %>
          </div>
        </li>
        <li class="nav-item">
          <div class="nav-link" >
           <%= link_to "Caterers", event_types_path, class: "link-to-text-color" %>
          </div>
        </li>
        <% unless user_signed_in? %>
        <li class="nav-item">
          <div class="nav-link" >
            <%= link_to "Sign Up", new_user_registration_path, class: "link-to-text-color" %>
          </div>
        </li>
        <li class="nav-item">
          <div class="nav-link" >
            <%= link_to "Login", new_user_session_path, class: "link-to-text-color" %>
          </div>
        </li>
        <% end %>
        <% if user_signed_in? %>
          <% if current_user.is_caterer? %>
          <li class="nav-item">
            <div class="nav-link" >
              <%= link_to "My Profile", (caterer_information_path(CatererInformation.find_by(user_id: current_user.id)) if CatererInformation.find_by(user_id: 3).present?), class: "link-to-text-color" %>
            </div>
          </li>
          <% end %>
          <li class="nav-item">
            <div class="nav-link" >
              <%= link_to "Conversations", conversations_path(customer_id: current_user.id, caterer_id: params[:id]), class: "link-to-text-color" %>
            </div>
          </li>        
          <li class="nav-item">
            <div class="nav-link" >
              <%= link_to "History", histories_path(current_user.id), class: "link-to-text-color" %>
            </div>
          </li>
          <li class="nav-item">
            <div class="nav-link" >
              <%= link_to "Logout", destroy_user_session_path, class: "link-to-text-color",  method: :delete %>
            </div>
          </li>        
        <% end %>
      </ul>
    </div>
  </nav>