<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
  <div class="navbar-brand" ><%= link_to "Icon Home", root_path %></div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto ">
      <li class="nav-item active">
        <p class="nav-link" ><%= link_to "About", about_path %><span class="sr-only">(current)</span></p>
      </li>
      <li class="nav-item">
        <p class="nav-link" ><%= "Caterers" %></p>
      </li>
      <li class="nav-item">
        <p class="nav-link" ><%= link_to "Sign Up", new_user_registration_path %></p>
      </li>
      <li class="nav-item">
        <p class="nav-link" ><%= link_to "Logout", destroy_user_session_path, method: :delete if user_signed_in? %></p>
      </li>
      <li class="nav-item">
        <p class="nav-link" ><%= link_to "Enquire", conversations_path %></p>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-default" type="submit">Search</button>
    </form>
  </div>
</nav>